// Colors
$primary: #3c4653;
$blue: #39e6e0;
$purple: #4420d8;
$purple-aux: #917dff;
$yellow: #ffbe44;
$pink: #ff2972;
$white: #fff;
$black: #000;
$green-light: #7fed73;
$grey: #ccc;

// Responsive
$screen-xs: 576px;
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1280px;
